* {
    box-sizing: border-box;
  }
  
  :root {
    --grey: #333;
    font-size: 62.5%;
  }
  
  body {
    background: #fff;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    width: 100%;
    padding: 30px 25px;
    display: flex;
    justify-content:space-between;
  }

  .highscore  {
      width: 30%;
      color: var(--grey);
      text-align: center;
      
      
  }

  .highscore a {
  font-size: 16px;
      color:purple;
      text-decoration: none;
}


  .highscore a:hover {
    color:greenyellow;
  }

  .timeleft {
      width: 30%;
      color: red;
      text-align: center;
      font-size: 16px;
     
  }

  .wrapper {
    display:flex;
    justify-content: space-evenly;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
}
  .quiz p {
      font: 20px sans-serif;
  }

  .quiz h1 {
      font: 25px sans-serif;
      font-weight: 700;
      color: purple;
  }

  .quiz ul {
      font: 25px sans-serif;
     
      padding-bottom: 20px;
  }

.quiz li {
    background-color: greenyellow;
    margin-top: 8px;
    padding: 5px 20px;
    font-size: 22px;
    color: black;
   
}
.quiz li:hover {
  background-color: purple;
  color: white;

}
  .no-bullets {
    text-decoration: none;
    list-style-type: none;
}

#create-div {
    margin-top: 35px;
    border-top: 1px solid lightgray;
    color: lightgray;
}

#label-element {
  font-size: 20px;
  padding-bottom: 15px;
}

#initials {
  font-size: 24px;
  color: purple;
  line-weight:800;
  line-height: 40px;
  border-top:none;
  border-left:none;
  border-right:none;
}

  #timerstart {
    outline: none;
    border: none;
    margin-top: 10px;
    padding: 10px 15px;
    margin-right: 40%;
    margin-left: 40%;
    background: greenyellow;
    font-size: 2.2rem;
    top: -3px;
  }

  #timerstart:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
  }
  #timerstart:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
 
  header h1 {
    width: 100%;
    text-align: center;
  }
 
  header nav ul {
    margin-top: 25px;
    width: 100%;
    justify-content: center;
  }
  
 
  .wrapper {
   text-align: center;
 }
 
 
 /* MEDIA QUERY FOR TABLES AND SMALLER */
 @media  screen and (max-width: 768px) {
   .quiz {
     padding: 30px 15px;
   }
   
   header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .highscore {
    width: 100%;
}

.timeleft {
  margin-top: 15px; 
  width: 100%;
   
}
 
 }
 
 /* MEDIA QUERY FOR MONILE PHONES AND SMALLER */
 @media screen and (max-width: 575px){
  
  #timerstart {
    margin-right: 30%;
    margin-left: 30%;
    background: greenyellow;
    font-size: 2.2rem;
  }