* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 62.5%;
  }
  
  body {
    background: #fff;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }

  .quiz p {
      font: 20px sans-serif;
  }

  .quiz h1 {
      font: 35px sans-serif;
  }

  .quiz ul {
      font: 20px sans-serif;
  }

  .no-bullets {
    text-decoration: none;
    list-style-type: none;
}
  
  header {
    width: 100%;
    padding: 30px 25px;
    display: flex;
    justify-content:space-between;
    background-color: #44e9ff;
  }

  .highscore {
      width: 20%;
      color: var(--grey);
  }

  .timeleft {
      width: 20%;
      color: red;
      text-align: center;
      font-size: 35px;
     
  }

  .wrapper {
      display:flex;
      justify-content: space-evenly;
  }

  .quiz {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
  }
.quiz h1 {
    font-size: 25px;

}
.quiz ul {
    font-size: 20px;
}
.quiz li {
    background-color: greenyellow;
    margin-top: 8px;
    padding: 5px 20px;
    font-size: 22px;
    color: black;
    
}

#create-div {
    margin-top: 35px;
    border-top: 1px solid lightgray;
    color: lightgray;
}

.quiz li:hover {
    background-color: purple;
    color: white;

}

 
  #timerstart {
    outline: none;
    border: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: greenyellow;
    font-size: 2.2rem;
    position: relative;
    top: -3px;
    width: 25%;

  }
  
  #timerstart:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
  }
  #timerstart:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
  }
  
  
  /* MEDIA QUERY FOR SMALLER DESKTOP AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
 
  header h1 {
    width: 100%;
    text-align: center;
  }
 
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  
  button #timerstart {
    display: flex;
  }
 
  .wrapper {
   text-align: center;
 }
 
  .wrapper, .quiz {
   width: 100%;
 }
 
 .section-title {
   width: 80%;
 }
 
 .trainer {
   flex: 0 70%;
 }
 
 .contact-info iframe {
   flex: 1 100%;
 }
 }
 
 /* MEDIA QUERY FOR TABLES AND SMALLER */
 @media  screen and (max-width: 768px) {
   .section {
     padding: 30px 15px;
   }
   
 .step h3 {
   flex: 1 100%;
   text-align: center;
 }
 
 .step-info {
   flex: 2 100%;
   text-align: center;
   justify-content: center;
 }
 
 .step-img {
   flex: 0 32%;
   margin-right: 0;
   margin-top: 15px;
   margin-bottom: 15px;
 }
 
 .step-text {
   flex: 100%;
 }
 
 }
 
 /* MEDIA QUERY FOR MONILE PHONES AND SMALLER */
 @media screen and (max-width: 575px){
   .hero-form button {
     width: 100%;
   }
 
   .section-title {
     width: 95%;
   }
   
   .intro p {
     width: 100%;
   }
 
 .trainer {
   flex: 0 100px;
 }
 
 .contact-info {
   text-align: center;
 }
 
 .contact-info > * {
   flex: 0 100%;
 }
 
 .contact-form {
   order: 3;
 }